.place__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.place__link:hover{
    color: #e5e5e57f;
    transition: .8s ease-in-out;
}