.cover__title{
    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    align-self: center;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .cover__title{
        max-width: 60%;
        font-size: 32px;
        line-height: 35px;
    }
}