.footer{
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 94px;
    padding-bottom: 24px;
    margin: 0px 48px;
}

@media screen and (max-width: 768px) {
    .footer{
        margin: 0px 24px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 766px) {
    .footer{
        margin: 0px 16px;
        padding-top: 64px;
        grid-template-columns: 1fr;
    }
}